<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="theme.scss" type="text/css">

    {{ content_for_header }}

    <script type="text/javascript">
        NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>

</head>
<body>

{% include "hero" %}

{{ content_for_notifications }}

<header>

    {% include "nav" %}

    {% if request.is_sidebar? %}
        {% include "sidebar" %}
    {% endif %}

</header>


<main>

    {% yield %}

</main>

<footer>

    {{ content_for_footer }}

    {% if site.footer_content.size > 0 %}
        <div class="footer-text">{{ site.footer_content }}</div>
    {% endif %}

    {% include "auth_menu" %}

    {% include "nb_credit" %}

</footer>

</body>
</html>